.margenes-externos(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.margenes-internos(@top, @right, @left, @bottom) {
  padding: @top @right @bottom @left;
}

.card-productos {
  flex: 1 200px;
  .margenes-internos(5px, 5px, 5px, 5px);
  margin: 5px;
}

.btn-icon-plus {
  padding-right: 10px;
}

.btn-mas-info {
  width: 250px;
  align-self: center;
  margin: 10px;
}

.card-img {
  margin-right: 4px;
}

.btn-acordion {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  .margenes-externos(0px, 10px);
}

#carouselControls {
  margin: 20px;
}
