@colorTopFooter: #2b81c6;
@ColorFontFooter: #fff;

.margenes-externos(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @colorTopFooter;
  color: black;
  .margenes-externos(50px, 10px);
}

.banner-hotel {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-hotel > h1, .banner-hotel > p {
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 5px 5px 5px #000;
}

footer {
  padding: 10px 10px 10px 10px;
  background-color: @colorTopFooter;
  .margenes-externos(10px, 0px);
  color: @ColorFontFooter;

  div > a.nonunderline:link {
    text-decoration: none;
    color: white;
  }
}

.footer-address-icon {
  padding-right: 10px;
}
