.card-productos {
  flex: 1 200px;
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.btn-icon-plus {
  padding-right: 10px;
}

.btn-mas-info {
  width: 250px;
  align-self: center;
  margin: 10px;
}

.card-img {
  margin-right: 4px;
}

.btn-acordion {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0px;
  margin-bottom: 10px;
}

#carouselControls {
  margin: 20px;
}
