.jumbotron {
  background-color: #2b81c6;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
}

.banner-hotel {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-hotel > h1, .banner-hotel > p {
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 5px 5px 5px #000;
}

footer {
  padding: 10px 10px 10px 10px;
  background-color: #2b81c6;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #fff;
}

footer div > a.nonunderline:link {
  text-decoration: none;
  color: white;
}

.footer-address-icon {
  padding-right: 10px;
}
